version: '3'

services:
  db:
    image: mongo:8.2.2-rc0
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - ./mongo-data:/data/db
    environment:
      MONGO_DATABASE: nest-pokemon